
<div class="row top-15">

    <div class="row text-center">
        <% if current_user %>
             <h3> Logged in as <%= current_user.name %> </h3>
        <% end %>
    </div>

    <div class="text-center col-sm-6 col-sm-offset-3">
        <% if current_user %>
         <%= link_to 'Home', root_path, class: 'btn btn-default col-sm-6' %>
         <%= link_to 'Logout', user_path(current_user), method: :delete, class: 'btn btn-default col-sm-6' %>
        <% else %>
             <%= link_to 'Home', root_path, class: 'btn btn-default col-sm-4' %>
             <%= link_to 'Login', users_path, class: 'btn btn-default col-sm-4' %>
             <%= link_to 'Register', new_user_path, class: 'btn btn-default col-sm-4' %>
        <% end %>
    </div>
</div>
